body{
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header{
    height: 600px;
}

#section-1{
    height: 600px;
}

#section-2{
    background-color: #F8F9FC;
    height: 600px;
}

nav{
    height: 100px;
    float: right;
    margin-right: 100px;
}

nav ul{
    padding: 10% 0;
}

nav ul li a{
    color: black;
    font-weight: 500;
    transition: all 0.4s ease;
}

nav ul li a:hover{
    color: #FA7161;
}

nav ul li{
    float: left;
    margin-left: 25px;
}

.wrapp{
    padding: 25px 0;
}

.wrapp-3{
    padding: 25px 0;
}

.wrapp-6{
    padding: 25px 0;
}

.wrapp-1{
    float: left;
    width: 50%;
    /* padding: 15% 0; */
    padding-top: 15%;
    padding-left: 10%;
}

.wrapp-4{
    width: 50%;
    /* padding: 15% 0; */
    padding: 6%;
    padding-top: 7%;
    float: right;
}

.heading-1{
    color: #363958;
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
}

.heading-2{
    color: #FF937A;
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
}

.heading-3{
    margin-top: 60px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.wrapp-2{
    float: right;
    width: 50%;
    padding-right: 8%;
}

.wrapp-5{
    float: left;
    width: 50%;
    padding-left: 8%;
    padding-top: 4%;
}

.wrapp-2 img{
    width: 80%;
}

.wrapp-5 img{
    width: 80%;
}

.space{
    padding: 15px 0;
}

.space p{
    font-size: 18px;
    line-height: 1.5;
}

.btn-1{
    padding: 15px 35px;
    border-radius: 5px;
    outline: none;
    border: 2px solid transparent;
    background: #FA7161;
    color: white;
    font-size: 16px;
    transition: all 0.4s ease;
}

.btn-1:hover{
    border: 2px solid #FA7161;
    background: none;
    color: #FA7161;
}

.text-center{
    text-align: center;
}

.color-1{
    color: #FA7161;
}

.wrapp-7{
    width: 71%;
    padding: 30px 0;
    margin: 0 auto;
}

.box{
    width: 300px;
    height: 330px;
    float: left;
    background: white;
    box-shadow: 0 0 8px rgb(218, 218, 218);
    margin-right: 3%;
    border-radius: 10px;
}

.margin-0{
    margin-right: 0;
}

.h-1{
    padding: 20px 10px;
}

.p-2{
    line-height: 1.5;
    padding: 0 10px;
}

.box img{
    width: 92%;
    padding-top: 10px;
    display: block;
    margin: 0 auto;
}

#section-4{
    height: 300px;
}


.wrapp-10{
    margin: 90px auto;
    width: 70%;
    height: 170px;
    background: url('img/bg.png') no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
}

.wrapp-11{
    width: 50%;
    height: 100%;
    float: left;
}

.h-2{
    padding: 15px;
    padding: 15px;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.wrapp-12{
    width: 50%;
    height: 100%;
    float: right;
    position: relative;
}

.btn-2{
    padding: 18px 35px;
    background-color: #F86C61;
    border: 2px solid transparent;
    font-weight: bold;
    font-size: 16px;
    color: white;
    transition: all 0.9s ease;
    position: absolute;
    right: 10%;
    top: 35%;
    border-radius: 5px;
}

.btn-2:hover{
    border: 2px solid #FA7161;
    background: none;
}

footer{
    height: 200px;
}

.wrapp-14{
    width: 18%;
    height: 80px;
    padding-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
}

.box-1{
    width: 80px;
    height: 80px;
    float: left;
}

.box-2{
    width: 80px;
    height: 80px;
    float: left;
}

.box-3{
    width: 80px;
    height: 80px;
    float: left;
}

.box-1 img{
    width: 60%;
    display: block;
}

.box-2 img{
    width: 100%;
    display: block;
}

.box-3 img{
    width: 100%;
    display: block;
}

.heading-4{
    padding: 10px;
}